In [114]:
#Read income.csv file and print as Data Frame
file="income.csv"
import pandas as pd
df=pd.read_csv(file)
d=d.copy()
df
d

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [91]:
df.columns

Index(['GEOID', 'State', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013'],
      dtype='object')

In [92]:
df.loc[0:]

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [93]:
df[["2010"]]

    2010
0  40933
1  57848
2  46896
3  38587
4  54283

In [94]:
## to find sum of a particular column
s=0
for i in df["2010"]:
    s=s+i
print(s)

238547

In [95]:
s=1
for i in df["2010"]:
    s=s*i
print(s)

232596181920264525116544

In [96]:
## sum of row
df.iloc[1,2:]

2005    55891
2006    56418
2007    62993
2008    63989
2009    61604
2010    57848
2011    57431
2012    63648
2013    61137
Name: 1, dtype: object

In [97]:
s=0
for i in df.iloc[1,2:]:
    s=s+i
print(s)

540959

In [98]:
df["2010"].sum()

238547

In [99]:
## 4th row and all columns sum
df.iloc[4,2:].sum()

498154

In [100]:
# sum of 2005 to 2008 columns
s=0
a=df.iloc[:,2:6].sum()
for i in a:
    s=s+i
print(s)

976808

In [101]:
# sum of 2005 to 2008 columns
a=df[["2005","2006","2007","2008"]].sum()
a.sum()

976808

In [102]:
a=df.iloc[:,2:].sum()
a.sum()

2199422

In [103]:
df.sum()  # to find total sum of all individual  columns

GEOID    04000US0104000US0204000US0404000US0504000US06
State           AlabamaAlaskaArizonaArkansasCalifornia
2005                                            226699
2006                                            233403
2007                                            264727
2008                                            251979
2009                                            239995
2010                                            238547
2011                                            243311
2012                                            250194
2013                                            250567
dtype: object

In [104]:
df.sum(1)  # to find total sum of individual rows

0    370138
1    540959
2    440711
3    349460
4    498154
dtype: int64

In [105]:
  ## prod()
a=df.iloc[1:2,2:6].prod().prod()
a

-5736403676770409890

In [106]:
help(df.iloc)

Help on _iLocIndexer in module pandas.core.indexing object:

class _iLocIndexer(_LocationIndexer)
 |  Purely integer-location based indexing for selection by position.
 |
 |  ``.iloc[]`` is primarily integer position based (from ``0`` to
 |  ``length-1`` of the axis), but may also be used with a boolean
 |  array.
 |
 |  Allowed inputs are:
 |
 |  - An integer, e.g. ``5``.
 |  - A list or array of integers, e.g. ``[4, 3, 0]``.
 |  - A slice object with ints, e.g. ``1:7``.
 |  - A boolean array.
 |  - A ``callable`` function with one argument (the calling Series, DataFrame
 |    or Panel) and that returns valid output for indexing (one of the above).
 |    This is useful in method chains, when you don't have a reference to the
 |    calling object, but would like to base your selection on some value.
 |
 |  ``.iloc`` will raise ``IndexError`` if a requested indexer is
 |  out-of-bounds, except *slice* indexers which allow out-of-bounds
 |  indexing (this conforms with python/numpy *slice* semantics).
 |
 |  See more at ref:`Selection by Position <indexing.integer>`.
 |
 |  See Also
 |  --------
 |  DataFrame.iat : Fast integer location scalar accessor.
 |  DataFrame.loc : Purely label-location based indexer for selection by label.
 |  Series.iloc : Purely integer-location based indexing for
 |                 selection by position.
 |
 |  Examples
 |  --------
 |
 |  >>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
 |  ...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
 |  ...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
 |  >>> df = pd.DataFrame(mydict)
 |  >>> df
 |        a     b     c     d
 |  0     1     2     3     4
 |  1   100   200   300   400
 |  2  1000  2000  3000  4000
 |
 |  **Indexing just the rows**
 |
 |  With a scalar integer.
 |
 |  >>> type(df.iloc[0])
 |  <class 'pandas.core.series.Series'>
 |  >>> df.iloc[0]
 |  a    1
 |  b    2
 |  c    3
 |  d    4
 |  Name: 0, dtype: int64
 |
 |  With a list of integers.
 |
 |  >>> df.iloc[[0]]
 |     a  b  c  d
 |  0  1  2  3  4
 |  >>> type(df.iloc[[0]])
 |  <class 'pandas.core.frame.DataFrame'>
 |
 |  >>> df.iloc[[0, 1]]
 |       a    b    c    d
 |  0    1    2    3    4
 |  1  100  200  300  400
 |
 |  With a `slice` object.
 |
 |  >>> df.iloc[:3]
 |        a     b     c     d
 |  0     1     2     3     4
 |  1   100   200   300   400
 |  2  1000  2000  3000  4000
 |
 |  With a boolean mask the same length as the index.
 |
 |  >>> df.iloc[[True, False, True]]
 |        a     b     c     d
 |  0     1     2     3     4
 |  2  1000  2000  3000  4000
 |
 |  With a callable, useful in method chains. The `x` passed
 |  to the ``lambda`` is the DataFrame being sliced. This selects
 |  the rows whose index label even.
 |
 |  >>> df.iloc[lambda x: x.index % 2 == 0]
 |        a     b     c     d
 |  0     1     2     3     4
 |  2  1000  2000  3000  4000
 |
 |  **Indexing both axes**
 |
 |  You can mix the indexer types for the index and columns. Use ``:`` to
 |  select the entire axis.
 |
 |  With scalar integers.
 |
 |  >>> df.iloc[0, 1]
 |  2
 |
 |  With lists of integers.
 |
 |  >>> df.iloc[[0, 2], [1, 3]]
 |        b     d
 |  0     2     4
 |  2  2000  4000
 |
 |  With `slice` objects.
 |
 |  >>> df.iloc[1:3, 0:3]
 |        a     b     c
 |  1   100   200   300
 |  2  1000  2000  3000
 |
 |  With a boolean array whose length matches the columns.
 |
 |  >>> df.iloc[:, [True, False, True, False]]
 |        a     c
 |  0     1     3
 |  1   100   300
 |  2  1000  3000
 |
 |  With a callable function that expects the Series or DataFrame.
 |
 |  >>> df.iloc[:, lambda df: [0, 2]]
 |        a     c
 |  0     1     3
 |  1   100   300
 |  2  1000  3000
 |
 |  Method resolution order:
 |      _iLocIndexer
 |      _LocationIndexer
 |      _NDFrameIndexer
 |      pandas._libs.indexing._NDFrameIndexerBase
 |      builtins.object
 |
 |  Methods inherited from _LocationIndexer:
 |
 |  __getitem__(self, key)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _NDFrameIndexer:
 |
 |  __call__(self, axis=None)
 |      Call self as a function.
 |
 |  __iter__(self)
 |
 |  __setitem__(self, key, value)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _NDFrameIndexer:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from _NDFrameIndexer:
 |
 |  axis = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __reduce__ = __reduce_cython__(...)
 |
 |  __setstate__ = __setstate_cython__(...)
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  name
 |
 |  ndim
 |
 |  obj

In [107]:
# mean() to find average
# to find the avearge of 2011 column
# find average of 2nd row
print(df["2011"].mean())
print(df.iloc[2,2:].mean())

48662.2
48967.88888888889

In [108]:
# median ()
print(df["2011"].median())
print(df.iloc[2,2:].median())

48621.0
46914.0

## Combined Average Income of all states from 2005 to 2013

In [109]:
a=df.iloc[:,2:].mean()
a.mean()

48876.044444444444

In [124]:
df.iloc[:,2:].mean(1).mean() # row wise average

48876.04444444444

In [117]:
d=pd.read_csv("income.csv",index_col="State")
d

,GEOID,2005,2006,2007,2008,2009,2010,2011,2012,2013
State,,,,,,,,,,
Alabama,04000US01,37150,37952,42212,44476,39980,40933,42590,43464,41381
Alaska,04000US02,55891,56418,62993,63989,61604,57848,57431,63648,61137
Arizona,04000US04,45245,46657,62993,46914,45739,46896,48621,47044,50602
Arkansas,04000US05,36658,37057,40795,39586,36538,38587,41302,39018,39919
California,04000US06,51755,55319,55734,57014,56134,54283,53367,57020,57528

## State with highest average income in the last three years

In [126]:
d.iloc[:,3]   # values of rows

State
Alabama       42212
Alaska        62993
Arizona       62993
Arkansas      40795
California    55734
Name: 2007, dtype: int64

In [127]:
d.iloc[:,-3:].mean(1)  # row wise avg of last three years

State
Alabama       42478.333333
Alaska        60738.666667
Arizona       48755.666667
Arkansas      40079.666667
California    55971.666667
dtype: float64

In [121]:
#State with highest average income in the last three years
d.iloc[0:,-3:].mean(1).idxmax()

'Alaska'

## State with lowest average income from 2007 to 2010(inclusive)

In [135]:
d["last three years avg"]=d.iloc[:,-3:].mean(1)
d

,GEOID,2005,2006,2007,2008,2009,2010,2011,2012,2013,last three years avg
State,,,,,,,,,,,
Alabama,04000US01,37150,37952,42212,44476,39980,40933,42590,43464,41381,42423.189300
Alaska,04000US02,55891,56418,62993,63989,61604,57848,57431,63648,61137,62372.082305
Arizona,04000US04,45245,46657,62993,46914,45739,46896,48621,47044,50602,48822.168724
Arkansas,04000US05,36658,37057,40795,39586,36538,38587,41302,39018,39919,39476.045267
California,04000US06,51755,55319,55734,57014,56134,54283,53367,57020,57528,57257.921811

In [145]:
d.iloc[:,4:8].mean(1).idxmin()

'Arkansas'

## Print the list of all states in the same line with average income less than California

In [146]:
a=d.iloc[:,2:].mean(1)
a

State
Alabama       41712.354367
Alaska        60826.675812
Arizona       49365.352080
Arkansas      39142.005030
California    55961.880201
dtype: float64

In [154]:
cal=d.iloc[-1,2:].mean()
cal

55961.88020118884

In [155]:
d.iloc[:,2:].mean(1)<cal

State
Alabama        True
Alaska        False
Arizona        True
Arkansas       True
California    False
dtype: bool

In [158]:
list(d[d.iloc[:,2:].mean(1)<cal].index)

['Alabama', 'Arizona', 'Arkansas']

## Print the names of states based on descending order of income in the year 2009

In [160]:
a=d.iloc[:,6]
a

State
Alabama       40933
Alaska        57848
Arizona       46896
Arkansas      38587
California    54283
Name: 2010, dtype: int64

In [161]:
b=a.sort_values(ascending=False)
b

State
Alaska        57848
California    54283
Arizona       46896
Alabama       40933
Arkansas      38587
Name: 2010, dtype: int64

In [163]:
list(b.index)

['Alaska', 'California', 'Arizona', 'Alabama', 'Arkansas']

## State with the lowest recorded income from 2005 to 2013'''

In [165]:
d.iloc[:,2:11].idxmin()

2006                    Arkansas
2007                    Arkansas
2008                    Arkansas
2009                    Arkansas
2010                    Arkansas
2011                    Arkansas
2012                    Arkansas
2013                    Arkansas
last three years avg    Arkansas
dtype: object