# Tuples

## It is collection of different data types seperated by , and enclosed with ()

In [2]:
x=(1,3,6,9.8,"hello","kvsw")
x

(1, 3, 6, 9.8, 'hello', 'kvsw')

In [3]:
type(x)

tuple

In [4]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [5]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [6]:
x.count("hello")

1

In [7]:
x1=(5,6,7,"mstp","kak")
type(x1)

tuple

In [9]:
x1.count(5)

1

In [11]:
x1.index("mstp")

3

In [12]:
x1[-1]

'kak'

In [13]:
x1[1:]

(6, 7, 'mstp', 'kak')

In [14]:
x1.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
x1*2

(5, 6, 7, 'mstp', 'kak', 5, 6, 7, 'mstp', 'kak')

In [16]:
print(x+x1)

(1, 3, 6, 9.8, 'hello', 'kvsw', 5, 6, 7, 'mstp', 'kak')

# Sets
  ### It is collection of elements seperated by , enclosed {}.It doesn't has index.The elements unordered

In [20]:
se={1,4,5,6,6,7,1}
type(se)
se

{1, 4, 5, 6, 7}

In [23]:
s={"apple","banana","mango"}
print(type(s))
s

<class 'set'>

{'apple', 'banana', 'mango'}

In [24]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [25]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [26]:
se.add(23)
se

{1, 4, 5, 6, 7, 23}

In [27]:
se.clear()

In [28]:
se

set()

In [29]:
se

set()

In [31]:
set1={3,4,5,3,7,8}
set1

{3, 4, 5, 7, 8}

In [32]:
setcopy=set1.copy()
print(setcopy)
print(set1)

{3, 4, 5, 7, 8}
{3, 4, 5, 7, 8}

In [33]:
help(set.difference)

Help on built-in function difference:

difference(...) method of builtins.set instance
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [45]:
x={1,2,4,5,8}
y={3,88,9,6}
z=x.difference(y)
z1=y.difference(x)
print(z)
print(z1)

{1, 2, 4, 5, 8}
{88, 9, 3, 6}

In [46]:
print(x.isdisjoint(y))
print(y.isdisjoint(x))

True
True

In [37]:
help(set.union)

Help on built-in function union:

union(...) method of builtins.set instance
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [42]:
a={2,4,5,6,3,2}
b={2,5,4,9,0,6}
print(a.union(b))
print(x.intersection(b))

{0, 2, 3, 4, 5, 6, 9}
{9, 2, 4, 5}

## Acessing elements in set

In [49]:
s_t={3,4,5,3,7}
for kvsw in s_t:
    print(kvsw,end=",")

3,4,5,7,

In [52]:
y.update(x)
y

{1, 2, 3, 4, 5, 6, 8, 9, 88}

In [51]:
y

{1, 2, 3, 4, 5, 6, 8, 9, 88}

In [53]:
help(set.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [54]:
z=x.symmetric_difference(y)
z

{3, 6, 9, 88}

In [55]:
x

{1, 2, 4, 5, 8}

In [56]:
y

{1, 2, 3, 4, 5, 6, 8, 9, 88}

In [57]:
x.pop()
x

{2, 4, 5, 8}

In [58]:
y.pop()
y

{2, 3, 4, 5, 6, 8, 9, 88}

In [60]:
y.discard(3)
y

{2, 4, 5, 6, 8, 9, 88}

In [61]:
y

{2, 4, 5, 6, 8, 9, 88}

In [62]:
y.discard(88)

In [63]:
y

{2, 4, 5, 6, 8, 9}

In [1]:
li=[5,8,9,9,10,5,3]
print(type(li),li)
x=set(li)
print(type(x),x)

<class 'list'> [5, 8, 9, 9, 10, 5, 3]
<class 'set'> {3, 5, 8, 9, 10}

In [14]:
# user input 5 6 7 8 8 5
# output 5 6 7 8
a=list(set(map(int,input().split())))
print(a)

5 6 7 8 8 5
[8, 5, 6, 7]