In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("ex1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
import sys

In [5]:
df.to_csv(sys.stdout,sep=" ")

 a b c d message
0 1 2 3 4 hello
1 5 6 7 8 world
2 9 10 11 12 foo

In [6]:
df.to_csv(sys.stdout,sep='|')

|a|b|c|d|message
0|1|2|3|4|hello
1|5|6|7|8|world
2|9|10|11|12|foo

In [12]:
dates=pd.date_range("1/1/2020",periods=2)

In [9]:
import numpy as np
df1=pd.DataFrame(np.random.rand(5,4))
df1

          0         1         2         3
0  0.889129  0.421218  0.395427  0.374133
1  0.290782  0.719369  0.480481  0.381742
2  0.757952  0.860101  0.593447  0.329927
3  0.266906  0.619965  0.786837  0.908219
4  0.188118  0.048502  0.313963  0.716963

In [11]:
df1.index=dates
df1

NameError: name 'dates' is not defined